<div class="row">
  <h2 class="title">Edit Note</h2>
  <div class="large-4 columns right">
    <% if defined?(@course) %>
      <p style="margin-top: 20px; margin-bottom: -10px; text-align: right;"><%= link_to @course.name, @course %></p> 
    <% end %>
  </div>
</div>
<hr />

<div style="width: 80%;">
  <%= simple_form_for @note do |n| %>
    <%= n.input :name, :input_html => {:style => 'width: 50%;'} %>
    <%= n.input :content, as: :text, :input_html => {:style => 'width: 90%; height: 350px;'} %>
    <% if (defined? @course) %>
      <%= hidden_field_tag :class_id, @course.id %>
    <% end %>
    <%= n.button :submit %>
  <% end %>
</div>

<div class="row">
  <h3>Unhappy with this note?</h3>
  <p>You may delete it - but remember, there is no turning back from here!</p>
    <%= button_to "Delete Note", note_path(@note), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button b2' %>
</div>

