<div class="row">
  <div class="large-12 columns">
    <div class="authform" style="width: 40%; margin: 0 auto;">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign in</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to 'Sign up', new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
      <%= f.submit 'Sign in', :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
  <% end %>
</div>
</div>
</div>

<div class="row" style="width: 40%;">
 <div class="large-5 columns">
   <hr />
 </div>
 <div class="large-2 columns" style="text-align: center;">
   <p style="color: gray; margin-top: -12px;">or</p>
 </div>
 <div class="large-5 columns">
   <hr />
 </div>
</div>
<div class="row" style="text-align: right; width: 40%;">
 <p class="fblink" style="font-size:55px; margin-top: -25px;">
 <%= link_to user_omniauth_authorize_path(:facebook) do %>
   <i class="fi-social-facebook"></i>
   </p>
<% end %>
</div>
</div>
